{% load static %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"href="{% static 'fav.ico' %}">
    <link rel="stylesheet" href="{% static 'css/form1.css' %}">
    <title>Murali MD</title>
</head>
<body>
    <div class="topic">
    <h1>CGPA CALCULATION FOR 1ST SEMESTER TO 5TH SEMESTER</h1>
    </div>


    <form action="cal">

    <div class="sem1">
    <h1>SEMESTER 1</h1>
    <ul>
    <h2>THEORY PAPERS</h2>
    <div class="subjects">
    Mathematic 1 = <select class="form-control" name="sub1" required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Physics = <select class="form-control" name="sub2" required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Chemistry = <select class="form-control" name="sub3" required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Basic Electrical & Electronic Engineering = <select class="form-control" name="sub4"required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Engineering Thermodynamics = <select class="form-control" name="sub5"required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Computer Programming = <select class="form-control" name="sub6"required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>

    <h2>PRACTICAL PAPERS</h2>
    Computer Programming Lab = <select class="form-control" name="lab1"required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Engineering Graphics Lab = <select class="form-control" name="lab2"required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Basic Electrical & Electronic Engineering Lab = <select class="form-control" name="lab3"required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    </ul></hr>
    </div>
    </div>
    



    <div class="sem2">
    <h1>SEMESTER 2</h1>
<ul>
    <h2>THEORY PAPERS</h2>
    <div class="subjects">
    Mathematics 2 = <select class="form-control" name="sub7"required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Material Science = <select class="form-control" name="sub8"required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Environmental Science = <select class="form-control" name="sub9"required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Basic Civil And Mechanical Engineering = <select class="form-control" name="sub10"required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Engineering Mechanics = <select class="form-control" name="sub11"required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Communicative English = <select class="form-control" name="sub12"required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>

    <h2>PRACTICAL PAPERS</h2>
    Physics Lab = <select class="form-control" name="lab4"required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Chemistry Lab = <select class="form-control" name="lab5"required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Workshop Practice = <select class="form-control" name="lab6"required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br></ul>
</hr>
</div>
</div>

    <div class="sem3">
    <h1>SEMESTER 3</h1>
<ul>
    <h2>THEORY PAPERS</h2>
    <div class="subjects">
    Mathematic 3 = <select class="form-control" name="sub13"required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Electronic Devices and Circuits = <select class="form-control" name="sub14"required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Data Structures = <select class="form-control" name="sub15"required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Object Oriented Programming = <select class="form-control" name="sub16"required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Digital System Design = <select class="form-control" name="sub17"required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Computer Organization = <select class="form-control" name="sub18"required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    
    <h2>PRACTICAL PAPERS</h2>
    Data Structures Lab = <select class="form-control" name="lab7"required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Electronic Devices and Circuits Lab = <select class="form-control" name="lab8"required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Digital Lab = <select class="form-control" name="lab9"required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br></ul>
</hr>
</div>
</div>


    <div class="sem4">
    <h1>SEMESTER 4</h1><ul>
        <h2>THEORY PAPERS</h2>
        <div class="subjects">
    Mathematic 4 = <select class="form-control" name="sub19"required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Communication Engineering 1 = <select class="form-control" name="sub20"required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Design & Analysis of Algorithms = <select class="form-control" name="sub21"required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Microprocessors & Microcontrollers = <select class="form-control" name="sub22"required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Java Programming = <select class="form-control" name="sub23"required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    System Software = <select class="form-control" name="sub24" required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    <h2>PRACTICAL PAPERS</h2>

    Algorithm Lab = <select class="form-control" name="lab10" required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Microprocessors & Microcontrollers Lab = <select class="form-control" name="lab11" required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Java Lab = <select class="form-control" name="lab12" required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br></ul>
</hr>
</div>
</div>

    <div class="sem5">
    <h1>SEMESTER 5</h1><ul>
        <h2>THEORY PAPERS</h2>
        <div class="subjects">
    Communication Engineering 2 = <select class="form-control" name="sub25" required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Software Engineering = <select class="form-control" name="sub26" required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Operating System = <select class="form-control" name="sub27" required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Data Base Management Systems = <select class="form-control" name="sub28" required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Theory of Computation = <select class="form-control" name="sub29" required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>

    <h2>PRACTICAL PAPERS</h2>
    Communication Engineering Lab = <select class="form-control" name="lab13" required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Operating System Lab = <select class="form-control" name="lab14" required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    Data Base Management Systems Lab = <select class="form-control" name="lab15" required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    General Proficiency 1 = <select class="form-control" name="GP" required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    <h2>ELECTIVE PAPER</h2>
    Computer Hardware & Troubleshooting = <select class="form-control" name="sub30" required>
        <option value="">Grade Point</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select><br>
    </ul></hr>
</div>
</div>    






    <input type="submit" class="button">
</form>





		<footer class="footer-distributed">

			<div class="footer-right">

				<a href="#"><i class="fa fa-facebook-f"></i></a>
				<a href="#"><i class="fa fa-instagram fa-stack-1x" style="color: white;"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>

			</div>

			<div class="footer-left">

				<p class="footer-links">
                    <a class="link-1" href="#">MURALI MD</a><BR>
					<a class="link-1" href="#">Developer</a>

					<a href="#">Designer</a>


					<a href="#">About</a>
				</p>

				<p>MD DESGINS &copy; </p>
			</div>

		</footer>




    
</body>
</html>